@font-face {
    font-family: 'Stencil-Style-New';
    src: url('font/stencil_style_new/StencilStyleNew.ttf');
}
body {
    background-color: green;
    font-size: 0.9em;
    margin: 2em 1%;
    padding: 0;
}
.texte {
    background-color: green;
    margin-bottom: 1em;
}
.pied_de_page {
    background-color: green;
}
h1, h2, h3 {

}
h1 {
    font-family: 'Stencil-Style-New';
    margin-bottom: 1em;
	font-size: 1em;
}
code, pre {
    color: #339900;
    font-family: "Courier New",Courier,monospace;
    font-size: 1em;
}
pre {
    border-left: 5px solid #A2C2E1;
    margin-left: 2em;
    padding: 0.5em 1em;
}
h1, .texte, .pied_de_page {
    width: 80%;
	border: 3px solid;
	padding: 1em;
	float: right;
	margin-top: 0em;
	margin-right: 1%;
}
.menu {
    border: 3px solid;
    padding: 1em;
    position: fixed;
    left: 1em;
    top: 2em;
    width: 11%;
}

tr
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}

td,th
{
    border: 1px solid black;
}

#fiche, td,th
{
    border: 1px solid yellow;
}

.Tableau span {
   display:inline;
   float:left;
   border:1px solid #FFFFFF;
   padding: 0.1%;
   
  }

.Tableau p.legende {font-weight:bold}

.Tableau span.col1 {width:24%;}
.Tableau span.col2 {width:24%;}
.Tableau span.col3 {width:24%;}
.Tableau span.col4 {width:24%;}
.Tableau span.col5 {width:48.15%;}
.Tableau span.col6 {width:48.15%;}




